@import "tailwindcss";

@theme {
    --color-primary: #8b5cf6;
    --color-secondary: #d946ef;
}

@layer base {
    * {
        @apply border-white/10;
    }

    body {
        @apply bg-slate-950 text-slate-50;
    }
}